version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: product_explorer_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: product_explorer
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_final:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres

volumes:
  postgres_data_final:
